[lastfm]
# You will need a Last.FM Developer API account for this script to work.
# There is no way around it, since the request requires an API key and I will not share my own.
# Fortunately, this is easy to get! Simply head over to http://www.last.fm/api/account/create
# Once your account is created, the site will display your API Key and API Secret.
# WRITE THESE DOWN! Last.FM apparently has no way to look them up later, so don't lose them.
# This script only requires the api key.
api_key = yourApiKey

# Next, you'll also need to provide your Last.FM username for the script to query.
username = yourUsername

# Finally, provide an interval (in seconds). This tells the script how often it should
# check what you're listening to.
interval = 5

[discord]
# Unlike Last.FM, you don't need an API account for the Discord connection.
# All you need is your User Token from the Discord Desktop (or web) Application.
token = yourToken



[app]
# If you want to change title of status (for example, "Listening to Deezer" or 
# "Listening to podcasts)", change this value
title = LAST.FM

# If you want to ignore errors and run app forever, change this value to "true"
endless_mode = false
